$PAGE_BGCOLOR: /*#ffe6f6;*/ #fffbf0;
$PAGE_CONTENT_WIDTH_PERC: 75%;
$PAGE_CONTENT_WIDTH_MIN: 1000px;
$LOGO_WIDTH: 250px;
$LOGO_HEIGHT: 90px;


// 顶部导航
$NAV_HEIGHT: $LOGO_HEIGHT;
$NAV_BOTTOM_MARGIN: 27px;


// 表单
$FORM_BGCOLOR: rgba(#fff, 0.8);
$FORM_FGCOLOR_MINOR: #999;
$FORM_WIDTH: 50%;
$FORM_WIDTH_MIN: $PAGE_CONTENT_WIDTH_MIN / 2;
$FORM_BORDER_RADIUS: 60px;
$FORM_FONT_SIZE_H1: 36px;
$FORM_FONT_SIZE_H2: 24px;


// footer
$FOOTER_HEIGHT: 200px;
$FOOTER_BGCOLOR: rgba(#262626, 0.9);
$FOOTER_FGCOLOR: #ddd;
$FOOTER_FGCOLOR_MINOR: #707070;
$FOOTER_FONT_SIZE: 13px;
$FOOTER_LINE_HEIGHT: 1.7;


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
