$PAGE_BGCOLOR: /*#ffe6f6;*/ #fffbf0;
$PAGE_CONTENT_WIDTH: 1000px;
$LOGO_WIDTH: 250px;
$LOGO_HEIGHT: 90px;


// 顶部导航
$NAV_HEIGHT: $LOGO_HEIGHT;
$NAV_BOTTOM_MARGIN: 27px;


// footer
$FOOTER_HEIGHT: 500px;


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
