@import 'bourbon';

@import 'config';


.page-form {
  background-color: $FORM_BGCOLOR;
  box-shadow: 0 0 12px #333;
  border-radius: $FORM_BORDER_RADIUS;

  width: $FORM_WIDTH;
  min-width: $FORM_WIDTH_MIN;

  margin: 100px auto;
  padding: $FORM_BORDER_RADIUS / 1.414213562;

  font-size: $FORM_FONT_SIZE;
}

.form__section {
  @include clearfix;

  border-bottom: 1px solid rgba(#000, 0.25);
  padding: 30px 0;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.form__title {
  font-size: $FORM_FONT_SIZE_H1;
  margin: 0;
}

.form__section__title {
  font-size: $FORM_FONT_SIZE_H2;
  color: $FORM_FGCOLOR_MINOR;
  margin: 0 0 20px 0;
}

.form__widget {
  @include box-sizing(border-box);

  margin: 0 20px 20px 0;
  line-height: $FORM_LINE_HEIGHT;
}

.form__field {
  @extend .form__widget;

  width: 30%;
  min-width: 150px;
}

// 解释性文字
.form__explanation {
  color: $FORM_FGCOLOR_MINOR;
}

// 文本框
.form__input {
  @extend .form__field;
  @include box-sizing(border-box);

  border-radius: 4px;
  border: 1px solid #999;
  padding: 4px;

  &.ng-dirty {
    &.ng-valid {
      border-color: #5bbc1b;
    }
    &.ng-invalid {
      border-color: #bc1b5b;
    }
  }
}

// Select2 选择控件
.form__select2 {
  @extend .form__field;

  // margin 会被 .select2-container 强制覆盖...
  margin: 0 20px 20px 0 !important;

  // 不加上这一条的话, 跟 Select2 控件并列的 input 垂直方向会错位,
  // 原因不明 :-(
  vertical-align: bottom !important;

  &.ng-dirty {
    &.ng-valid {
      & > .select2-choice,
      & > .select2-choice > .select2-arrow {
        border-color: #5bbc1b;
      }
    }
    &.ng-invalid {
      & > .select2-choice,
      & > .select2-choice > .select2-arrow {
        border-color: #bc1b5b;
      }
    }
  }
}

// 按钮
.form__button {
  @extend .form__widget;

  border-style: none;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 10px;

  color: #fff;
  background-color: #5bbc1b;

  > .fa {
    // 因为可能有图标, 所以如果有的话这里就会给图标加上右边距
    // NOTE: 关于 "右"... 我觉得一段时间内还是不用考虑 RTL 文字的 :-P
    margin: 0 10px 0 0;
  }

  &[disabled] {
    background-color: $FORM_COLOR_DISABLED;
  }
}

.form__submit {
  @extend .form__button;

  // XXX: Sass 继承为何不能自动从前面一条自动生成这一条?
  > .fa {
    margin: 0 10px 0 0;
  }
}

.form__submit--minor {
  @extend .form__widget;

  display: inline-block;
  float: right;
  margin: 10px 0;
  padding: 0;
  border: none;

  color: $FORM_FGCOLOR_MINOR;
  background: none;

  font-size: $FORM_FONT_SIZE_MINOR;
  height: $FORM_LINE_HEIGHT;
  text-decoration: underline;

  &[disabled] {
    color: $FORM_COLOR_DISABLED;
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
