@import 'bourbon';
@import 'config';


// 顶部导航
.pagehdr__nav-container {
  @include box-sizing(border-box);

  width: 100%;

  padding: 0 0 0 ($LOGO_WIDTH + 5px);  /* = 5px margin-left */
}

.pagehdr__nav {
  position: relative;

  border-bottom: 1px solid #111;
  width: 100%;
  height: ($NAV_HEIGHT - $NAV_BOTTOM_MARGIN);
  margin: 0 0 $NAV_BOTTOM_MARGIN;
}


// 导航组件容器
.pagehdr__nav__section {
  @include box-sizing(border-box);

  padding: 10px 0;
  height: 100%;
}


// 频道列表
.pagehdr__nav__channels-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pagehdr__nav__channels {
  @extend .pagehdr__nav__section;
}


// 无版块情况
.pagehdr__nav__channels--none {
  > .fa {
    display: inline-block;
    color: $brand-info;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }

  > .btn {
    vertical-align: baseline;
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
