@import 'bourbon';

@import 'config';
@import 'stickyfooter';


body {
  background-image: url("/static/img/page-background-noise.png");
}

#wrap {
  @include stickyfooter-wrap;
}

#wrap__main {
  @include stickyfooter-main;

  width: $PAGE_CONTENT_WIDTH_PERC;
  min-width: $PAGE_CONTENT_WIDTH_MIN;
  margin: 0 auto;
}

.jnrain-logo {
  background: url("/static/img/logo-250x90.png") top left no-repeat;
  width: $LOGO_WIDTH;
  height: $LOGO_HEIGHT;

  // 因为是点击回首页的效果所以需要给一个指针的光标
  cursor: pointer;
}

.pagehdr__logo {
  float: left;
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
