@import 'bourbon';
@import 'reset';
@import 'normalize';


$PAGE_BGCOLOR: /*#ffe6f6;*/ #fffbf0;
$PAGE_CONTENT_WIDTH: 1000px;
$LOGO_WIDTH: 250px;
$LOGO_HEIGHT: 90px;


html {
  background-color: $PAGE_BGCOLOR;
  background-image: url("/static/img/page-background-noise.png");
}

.wrap__main {
  width: 75%;
  min-width: $PAGE_CONTENT_WIDTH;
  margin: 0 auto;
}

.jnrain-logo {
  background: url("/static/img/logo-250x90.png") top left no-repeat;
  width: $LOGO_WIDTH;
  height: $LOGO_HEIGHT;
}

.pagehdr__logo {
  float: left;
}


/* 顶部导航 */
$NAV_HEIGHT: $LOGO_HEIGHT;
$NAV_BOTTOM_MARGIN: 27px;

.pagehdr__nav-container {
  @include box-sizing(border-box);

  width: 100%;

  padding: 0 0 0 ($LOGO_WIDTH + 5px);  /* = 5px margin-left */
}

.pagehdr__nav {
  border-bottom: 1px solid #111;
  width: 100%;
  height: ($NAV_HEIGHT - $NAV_BOTTOM_MARGIN);
  margin: 0 0 $NAV_BOTTOM_MARGIN;
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
