@import 'bourbon';
@import 'reset';
@import 'normalize';

@import 'config';
@import 'stickyfooter';


html {
  background-color: $PAGE_BGCOLOR;
  background-image: url("/static/img/page-background-noise.png");
}

#wrap {
  @include stickyfooter-wrap;
}

#wrap__main {
  @include stickyfooter-main;

  width: 75%;
  min-width: $PAGE_CONTENT_WIDTH;
  margin: 0 auto;
}

.jnrain-logo {
  background: url("/static/img/logo-250x90.png") top left no-repeat;
  width: $LOGO_WIDTH;
  height: $LOGO_HEIGHT;
}

.pagehdr__logo {
  float: left;
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
