# based on Node.gitignore from github/gitignore

# Backup files
*.bak
*.tmp
*.old
*~
.*.swp

# Node and Grunt things
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules
