.pagehdr__nav__channels-container
  .pagehdr__nav__channels(data-ng-controller='NavHeader')
    .pagehdr__nav__channels--none(data-ng-hide='numVTags')
      i.fa.fa-2x.fa-info-circle
      | 该站点尚未配置任何内容版块。
      a.btn.btn-info(data-ui-sref='admin.vtp({vtpid: GLOBAL_VPOOL})')
        | 去新建版块


include partials/authbox


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
