doctype html
html#appmount(lang='cmn')
  head
    meta(charset='utf-8')

    //- 既然 oldIE 全都被中间件封杀了, 这一条声明就没有受众了, 还会让文档过不了 HTML5 校验...
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title(
      data-ng-controller='PageTitle'
      data-ng-bind='dynTitlePrefix + stateTitle + " - 江南听雨网"'
      ) 江南听雨网

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')

    link(rel='stylesheet', href='/static/vendored/vendored.css')
    link(rel='stylesheet', href='/static/css/app.css')

    script(src='/static/vendored/socket.io.js')
    script(src='/static/js/bundle.js')

  body
    #wrap
      #wrap__main(data-ng-cloak)
        header
          .pagehdr__logo.jnrain-logo(data-ui-sref='home')
          .pagehdr__nav-container
            nav.pagehdr__nav
              include nav
        .main-container
          div(data-ui-view='main')

        toaster-container.toast-container

      include splash

    footer#wrap__footer(data-ng-cloak)
      include footer

    if DEBUG_LIVERELOAD
      //- grunt-watch 的 LiveReload 貌似只有 HTTP 版...
      //- 不过因为这一条反正不会出现在生产页面上, 所以无所谓的
      script(src='http://localhost:35729/livereload.js')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
