h1 系统管理面板

tabset(vertical='true', type='"pills"')
  tab(heading='板块管理', data-ui-sref='admin.vtp({vtpid: "0"})')
  tab(heading='TODO 1')
  tab(heading='TODO 2')


div(data-ui-view='main')


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
