.admin-container
  aside.admin__nav
    h1.admin__title 系统管理面板
    tabset(vertical='true', type='"pills"')
      tab(heading='版块管理', data-ui-sref='admin.vtp({vtpid: GLOBAL_VPOOL})')
      tab(heading='TODO 1')
      tab(heading='TODO 2')


  .admin__content(data-ui-view='main')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
