extends ../skel


block vars
  - var pageTitle = '注销'


block content
  .page-form(data-ng-controller='LogoutPage')
    h1.form__title 注销当前用户

    .in-progress(data-ng-show='inProgress')
      h2.form--progress__inprogress__title
        i.form--progress__result__icon.fa.fa-meh-o
        正在注销，请稍候……

    .form--progress__result(data-ng-hide='inProgress')
      .form--progress__result__retcodes(data-ng-switch='retcode')
        // 虽然说这个过程只可能返回 0 (忽略网络错误), 但还是写成通用的形式好了...
        .form--progress__result--success(data-ng-switch-when='0')
          h2.form--progress__result--success__title
            i.form--progress__result__icon.fa.fa-sign-out
            注销成功
          p 现在浏览器将跳转回首页。


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
