// 虚标签页面
// 顶端面板
$VTAG_PANEL_PADDING: 10px;
$VTAG_PANEL_BORDER_COLOR: #ccc;


.vtag__header {
  @include clearfix;
  background-color: rgba(#fff, 0.8);

  width: calc(100% - #{$VTAG_PANEL_PADDING * 2});
  margin: 0 $VTAG_PANEL_PADDING 2em;
  padding: $VTAG_PANEL_PADDING;

  box-shadow: 0 0 5px rgba(#000, 0.2);
}

.vtag__metadata,
.vtag__params {
  float: left;
}


// 元数据
.vtag__metadata {
  width: 75%;
  padding: 0 $VTAG_PANEL_PADDING $VTAG_PANEL_PADDING 0;
}

.vtag__metadata__name {
  margin: 0 0 0.5em;
  font-size: 30px;
}


// 查询参数
.vtag__params {
  width: 25%;
  padding: 0 0 $VTAG_PANEL_PADDING $VTAG_PANEL_PADDING;
}


// 起止时间
.vtag__params__times {
  margin: 0;
}


// 动作面板
.vtag__actions {
  clear: both;
  padding: $VTAG_PANEL_PADDING 0 0;
  border-top: 1px solid $VTAG_PANEL_BORDER_COLOR;
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
