extends skel


block vars
  - var pageTitle = '新用户注册'


block content
  .register-form(data-ng-controller="Foo")
    p
      | hehe
      | haha
      | {{foo}}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
