.vth-container(data-ng-controller='VThreadIndexPage')
  header.vth__header
    section.vth__metadata
      h1.vth__title {{vthStat.title}}
      time.vth__ctime(datetime='{{vthStat.ctime.toISOString()}}')
        | {{vthStat.ctime | date:'yyyy-MM-dd HH:mm:ss'}}
      time.vth__mtime(datetime='{{vthStat.mtime.toISOString()}}')
        | {{vthStat.mtime | date:'yyyy-MM-dd HH:mm:ss'}}

  section.vth__tree
    //- 楼主
    jnrain-vf-read.vth__vf.vth__vf--root(data-vfid='vthRootVFID', data-is-root='true')

    //- 直接回复
    jnrain-vf-read.vth__vf.vth__vf--reply(data-ng-repeat='vfid in vthReplies', data-vfid='vfid')

  section.vth__actions
    section.vth__reply
      h2 发表回复

      jnrain-vf-new-reply.vth__reply-container(data-vthid='vthid')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
