// 虚线索池管理面板
// 基本信息部分
.vtp-admin__stat {
  @include clearfix;

  margin: 0 0 50px 0;
}

.vtp-admin__stat__key {
  float: left;

  margin: 0 1em 0 0;
}

// 虚线索池名称
.vtp-admin__stat__name--global {
  // 全局虚线索池 ("主站版块分组"), 名字不重要 (因为没有意义也没法修改)
  // 设置为次要前景色
  color: $FORM_FGCOLOR_MINOR;
}

// 虚标签操作面板
.vtp-admin__vtags__ops {
  margin: 2em 0;
}


// 虚标签列表
.vtp-admin__vtag {
  background-color: rgba(#fff, 0.75);

  margin: 0 10px 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #999;
}

.vtp-admin__vtag__name {
  margin: 0 0 0.25em;
  font-size: 28px;
}

.vtp-admin__vtag__slug {
  color: $FORM_FGCOLOR_MINOR;

  margin: 0 0 0 0.5em;

  @include monospace;
  font-size: 18px;
  font-weight: 100;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
