.vtag-container(data-ng-controller='VTagIndexPage')
  header.vtag__header
    section.vtag__metadata
      h1.vtag__metadata__name
        a(data-ui-sref='vtp.vtag.content') {{vtagInfo.name}}
      .vtag__metadata__desc {{vtagInfo.desc}}
    section.vtag__params
      dl.vtag__params__times
        dt.vtag__params__times__name
          | 显示起始时间
        dd.vtag__params__times__value
          | {{timeStart | date:'yyyy-MM-dd HH:mm'}}

        dt.vtag__params__times__name
          | 显示终止时间
        dd.vtag__params__times__value
          | {{timeEnd | date:'yyyy-MM-dd HH:mm'}}

    //- 在特定动作界面时不要显示动作列表
    section.vtag__actions(data-ng-hide='$state.current.name != "vtp.vtag.content"')
      button.vtag__new-vf.btn.btn-success(data-ui-sref='vtp.vtag.newvth') 发表话题

  .vtag__nest(data-ui-view='main')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
