.vtag-container(data-ng-controller='VTagIndexPage')
  header.vtag__metadata
    h1.vtag__metadata__name {{vtagInfo.name}}

    .vtag__metadata__desc {{vtagInfo.desc}}

  //- TODO

  .vtag__content(data-ui-view='main')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
