.vtag-container(data-ng-controller='VTagIndexPage')
  header.vtag__header
    section.vtag__metadata
      h1.vtag__metadata__name {{vtagInfo.name}}
      .vtag__metadata__desc {{vtagInfo.desc}}
    section.vtag__params
      dl.vtag__params__times
        dt.vtag__params__times__name
          显示起始时间
        dd.vtag__params__times__value
          {{timeStart | date:'yyyy-MM-dd HH:mm'}}

        dt.vtag__params__times__name
          显示终止时间
        dd.vtag__params__times__value
          {{timeEnd | date:'yyyy-MM-dd HH:mm'}}

  //- TODO: 虚线索列表展示

  .vtag__content--empty(data-ng-hide='vthList')
    h2.vtag__empty__title 所选的时间段内没有内容
    p 可能造成此现象的原因有：
    ul.vtag__empty__reasons
      li.vtag__empty__reason 本版块在您选择的时间段内确实没有内容产生；
      li.vtag__empty__reason 您选择的时间段过于狭窄，请指定更宽广的一段时间。

  .vtag__nest(data-ui-view='main')


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
